---
Checks: '-*,
  bugprone-move-forwarding-reference,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init,
  misc-unused-parameters,
  misc-unused-using-decls,
  modernize-deprecated-headers,
  modernize-redundant-void-arg,
  modernize-use-override,
  readability-identifier-naming,
  '

WarningsAsErrors: '
  bugprone-move-forwarding-reference,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init,
  misc-unused-parameters,
  misc-unused-using-decls,
  modernize-deprecated-headers,
  modernize-redundant-void-arg,
  modernize-use-override,
  readability-identifier-naming,
  '

CheckOptions:
  - key: 'readability-identifier-naming.ClassCase'
    value: 'CamelCase'