name: Benchmarks

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-jlm:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: "Build jlm"
        uses: ./.github/actions/BuildJlm
        with:
          build-mode: release
          enable-asserts: true
      - name: "Cache build"
        id: save-jlm-build
        uses: actions/cache/save@v5
        with:
          path: |
            ${{ github.workspace }}/build-release
          key: ${{ runner.os }}-jlm-build-${{ github.sha }}

  benchmarks:
    needs: build-jlm
    strategy:
      matrix:
        benchmark: [polybench, perlbench, gcc, cactuBSSN, x264, blender, imagick, nab, xz, emacs, ghostscript, gdb, sendmail]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: "Install benchmark dependencies"
        if: ${{inputs.install-benchmark-deps == 'true'}}
        run: |
          sudo apt-get install \
          build-essential gcc-multilib gcc-mingw-w64 libasound2-dev libpulse-dev libdbus-1-dev \
          libfontconfig-dev libfreetype-dev libgnutls28-dev libgl-dev libunwind-dev \
          libx11-dev libxcomposite-dev libxcursor-dev libxfixes-dev libxi-dev libxrandr-dev \
          libxrender-dev libxext-dev libwayland-bin libwayland-dev libegl-dev \
          libxkbcommon-dev libxkbregistry-dev \
          libxaw7-dev xaw3dg-dev libgtk-3-dev libglib2.0-dev libtree-sitter-dev \
          libgif-dev libxpm-dev libjpeg-dev libtiff-dev libgnutls28-dev \
          libmpfr-dev libxxhash-dev gawk flex bison bear just
        shell: bash
      - name: "Restore jlm"
        id: restore-jlm-build
        uses: actions/cache@v5
        with:
          path: |
            ${{ github.workspace }}/build-release
          key: ${{ runner.os }}-jlm-build-${{ github.sha }}
      - name: "Add build symlink"
        run: ln -s ${{ github.workspace }}/build-release ${{ github.workspace }}/build
        shell: bash
      - name: "Add executables to PATH"
        run: echo '${{ github.workspace }}/build' >> $GITHUB_PATH
        shell: bash
      - name: "Run benchmark"
        run: ./scripts/run-benchmarks.sh --benchmark ${{ matrix.benchmark }}
        shell: bash
