name: HLS

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  hls-test-suite:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '0'
    - name: "Build jlm"
      uses: ./.github/actions/BuildJlm
      with:
        enable-hls: true
    - name: "Install verilator"
      uses: ./.github/actions/InstallPackages
      with:
        install-verilator: true
    - name: "Run hls-test-suite"
      run: ./scripts/run-hls-test.sh
    - name: "Create comment if cycles differ"
      if: ${{ hashFiles('./usr/hls-test-suite/build/cycle-diff.log') != '' }}
      uses: actions/github-script@v7
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const fs = require("fs");
          const comment = fs.readFileSync("./usr/hls-test-suite/build/cycle-diff.log", { encoding: "utf8" });
          console.log("Writing comment on PR: \n" + comment);
          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: "```\n" + comment + "```"
          });
      continue-on-error: false
