name: Tests

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: "Build jlm"
        uses: ./.github/actions/BuildJlm
        with:
          enable-hls: true
          enable-mlir: true
          make-target: check

  gcc:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: "Build jlm"
        uses: ./.github/actions/BuildJlm
        with:
          enable-hls: true
          enable-mlir: true
          cxx: g++
          make-target: check

  valgrind:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: "Build jlm"
        uses: ./.github/actions/BuildJlm
        with:
          enable-hls: true
          enable-mlir: true
          make-target: valgrind-check

  polybench:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: "Build jlm"
        uses: ./.github/actions/BuildJlm
      - name: Clone polybench
        run: git clone https://github.com/phate/polybench-jlm.git
      - name: Check polybench
        run: make -C polybench-jlm check -j `nproc`

  llvm-test-suite:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: "Build jlm"
        uses: ./.github/actions/BuildJlm
      - name: "Run the llvm-test-suite-opt"
        run: ./scripts/run-llvm-test.sh --make-target llvm-run-opt

  llvm-test-suite-andersen-agnostic:
    if: contains(github.event.pull_request.title, '[AndersenAgnostic]')
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: "Build jlm"
        uses: ./.github/actions/BuildJlm
      - name: "Run the llvm-test-suite-andersen-agnostic"
        run: ./scripts/run-llvm-test.sh --make-target llvm-run-andersen-agnostic

  llvm-test-suite-steensgaard-agnostic:
    if: contains(github.event.pull_request.title, '[SteensgaardAgnostic]')
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: "Build jlm"
        uses: ./.github/actions/BuildJlm
      - name: "Run the llvm-test-suite-steensgard-agnostic"
        run: ./scripts/run-llvm-test.sh --make-target llvm-run-steensgaard-agnostic
